services:
  api:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - ../.env
    environment:
      - MLFLOW_TRACKING_URI=file:///app/mlruns
    volumes:
      - ../mlruns:/app/mlruns:ro
